/build_asmjs/
/build_wasm/
/Release/*
!/Release/effekseer.d.ts
!/Release/effekseer.js
!/Release/effekseer.wasm
!/Release/package.json
!/Release/package-lock.json
!/Release/akashic-lib.json
!/Release/tsconfig.json
!/Release/typedoc.json
!/Release/Sample/
node_modules/
venv/

