name: Publish

on:
  workflow_dispatch:

env:
  NODE_VERSION: 18

permissions:
  contents: read

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: 'https://registry.npmjs.org'
          cache: npm
          cache-dependency-path: package-lock.json
      - name: Build and Publish
        run: |
            npm ci # clean install
            npm publish
        env:
            NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN_AKASHIC_EXTENSION }}
